.maindiv {
	background-color: #8E3431;
	position: relative;
	color: white;
	text-align: left;
	font-size: 1em; 
	width: 400px;
	height: 750px;

}



.circle {
    background: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
	left: 90px;
	top: 200px;

}

